$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../typography/fonts" !default;

$icon-eye: "\e900";
$icon-home: "\e901";
$icon-mail: "\e904";
$icon-settings: "\e905";
$icon-sliders: "\e907";
$icon-user: "\e908";
$icon-facebook: "\e902";
$icon-github: "\e903";
$icon-linkedin: "\e906";
$icon-twitter: "\e90c";

