///REDIFINE DEFAULT VALUES////////////////////////
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem=10px now
}

///RESET////////////////////////
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

///CLEARFIX////////////////////////
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  font-weight: 400;
  font-family: Open Sans, sans-serif;
  line-height: 1.6;
  color: var(--color-primary);
  //overflow-x: hidden;
}
