//@import "font-variables.scss";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fflti3");
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fflti3#iefix")
      format("embedded-opentype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?fflti3")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?fflti3")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?fflti3##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-home {
  &:before {
    content: $icon-home;
  }
}

.icon-eye {
  &:before {
    content: $icon-eye;
  }
}

.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-sliders {
  &:before {
    content: $icon-sliders;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
